version: '3'
services:
  articlemeta-restfulapi:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: my-articlemeta
    environment:
      ADMIN_TOKEN:
      LOGGING_LEVEL: DEBUG
      MONGODB_HOST: mongodb://mongodb:27017/articlemeta
      MONGODB_PORT:
      SENTRY_DSN:
    command:
      - gunicorn
      - --paste
      - config.ini
      - -w
      - '4'
      - -b
      - 0.0.0.0
    depends_on:
      - mongodb
    networks:
      - articlemeta-network
    ports:
     - "8000:8000"

  mongodb:
    image: mongodb/mongodb-community-server:latest
    container_name: articlemeta
    ports:
      - "27017:27017"
    networks:
      - articlemeta-network

networks:
  articlemeta-network:
    driver: bridge